/* General styles */
html, body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FFB347;
    color: #4A4A4A;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Layout */
nav ul {
	display: flex;
    justify-content: center;
	list-style: none;
	flex-wrap: wrap;
}

nav ul li {
	margin-right: 30px;
}

/* Navigation Links */
nav ul li a {
    color: #4A4A4A;
    text-decoration: none;
    font-weight: bold;
}

/* Pseudo-Class for Hypertext Links */
nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
	color: #FD0D71;
}

/* Responsive Logo Image */
header img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto;
}

main {
	display: block;
	line-height: 1.5;
	margin: 25px 25px;
	background-color: #F5F5F5;
	font-size: 100%;
	padding: 1px;
}

/* Specific styling for Brand page's main container */
.flex-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
	line-height: 1.5;
	margin: 25px 25px;
	background-color: #F5F5F5;
	font-size: 100%;
	padding: 1px;
}

/* Style for the image container */
.image-right {
    flex: 0 0 auto;
    max-width: 30%;
}

/* Style for the image itself */
.image-right img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

/* Hover effect for the image */
.image-right img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Intensify shadow on hover */
}


/* Center the image and caption */
.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
}

.image-container img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.image-container figcaption {
    margin-top: 10px;
    font-size: 1rem; 
    color: #555; 
}

h1 {
	font-family: 'Lexend Tera', sans-serif;
	font-size: 30px;
	letter-spacing: 10px;
	text-transform: uppercase;
	color: #F5F5F5;
	background-color: #6A0572;
	text-align: center;
	margin: 20px;
	padding: 10px;
}

h2 {
	font-family: 'Lexend Tera', sans-serif;
	font-size: 25px;
	letter-spacing: -2px;
	color: #F5F5F5;
	background-color: #FD0D71;
	text-align: center;
	margin: 20px;
	padding: 10px;
}

h3 {
	font-family: 'Lexend Tera', sans-serif;
	font-size: 20px;
	letter-spacing: -3px;
	color: #4A4A4A;
	text-align: center;
	margin: 20px;
	padding: 10px;
}

p {
	margin: 20px;
}

blockquote {
	font-size: 1.5rem;
	font-style: italic;
	margin: 20px;
	
}

/* Form Container */
#name-form {
    width: 100%;
    max-width: 400px;
    background-color: #f5f5f5;
    margin: 20px auto;
}

#name-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#name-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
    font-size: 16px;
}

#name-form button {
    display: block;
    background-color: #FD0D71;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

#name-form button:hover {
    background-color: #6A0572;
}

#results-container {
    text-align: center;
}

/* Footer Navigation Bar Layout */
nav a {
	padding: 25px;
	color: #F5F5F5;
    text-decoration: none;
    font-weight: bold;
}

/* Pseudo-Class for Hypertext Links */
nav a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #6A0572; 
}

/* Footer Layout */
footer {
    text-align: center; 
    padding: 5px; 
	color: #F5F5F5;
    text-align: center; 
    background-color: #FD0D71
}