/* General styles */
html, body {
    font-family: 'Quicksand', sans-serif;
    color: #4A4A4A;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/background.png");
}

/* Header Layout */
header {
    display: flex;
    align-items: center;  /* Vertically align logo and nav */
    justify-content: space-between; /* Space between logo and nav */
    padding: 10px 20px;  /* Add some padding */
}

/* Logo Image */
header img {
    width: 150px;  /* Adjust the logo size */
    height: auto;
    display: block;
}

/* Navigation Bar */
nav ul {
    display: flex;
	justify-content: flex-end;
    align-items: center;
    list-style: none;
	flex-wrap: wrap;
    margin: 0;
	flex-wrap: wrap;
}

nav ul li {
    margin-right: 20px; /* Space between navigation items */
}

/* Navigation Links */
nav ul li a {
    color: #4A4A4A;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* Hover Effect */
nav ul li a:hover {
    text-decoration: underline;
    color: #FD0D71;
}

main {
	display: block;
	line-height: 1.5;
	background-color: #FFB347;
	font-size: 100%;
	padding: 1px;
}

div {
	display: block;
	line-height: 1.5;
	margin: 25px;
	background-color: #F5F5F5;
	font-size: 100%;
	padding: 1px;
	border-radius: 8px;
}

h1 {
	font-family: 'Lexend Tera', sans-serif;
	font-size: 30px;
	letter-spacing: 10px;
	text-transform: uppercase;
	color: #F5F5F5;
	background-color: #6A0572;
	text-align: center;
	margin: 0;
	padding: 10px;
}

h2 {
	font-family: 'Lexend Tera', sans-serif;
	font-size: 25px;
	letter-spacing: -3px;
	color: #F5F5F5;
	background-color: #FD0D71;
	text-align: center;
	margin: 20px;
	padding: 10px;
	border-radius: 8px;
}

h3 {
	font-family: 'Lexend Tera', sans-serif;
	font-size: 20px;
	letter-spacing: -3px;
	color: #4A4A4A;
	text-align: center;
	margin: 20px;
	padding: 10px;
}

p {
	margin: 20px;
	font-weight: bold;
}

/* Style form elements */
form {
    width: 100%;
    max-width: 400px;
    background-color: #f5f5f5;
    margin: 20px auto;
}

label {
    display: block;
    font-weight: bold;
	align-items: center;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
    font-size: 16px;
}

.inline {
	width: unset;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
}

fieldset {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
}

legend {
    font-weight: bold;
}

/* Style the submit button */
button {
    display: block;
    background-color: #FD0D71;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #6A0572;
}

blockquote {
	font-size: 1.5rem;
	font-style: italic;
	margin: 20px;	
}

/* Footer Navigation Bar Layout */
nav a {
	padding: 25px;
	color: #4A4A4A;
    text-decoration: none;
    font-weight: bold;
}

/* Pseudo-Class for Hypertext Links */
nav a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #FD0D71; 
}

/* Footer Layout */
footer {
    text-align: center; 
    padding: 5px; 
	color: #4A4A4A;
    text-align: center; 
}